* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  overflow-wrap: break-word;
}

.Corredor {
  display: inline-flex;
  align-items: center;

  width: 218px;
  height: 20px;
  background-color: #9ce79cb9;
  overflow: hidden;
}

#pontomenor{
  width: 18px;
  height: 18px;
  background-color:blue;
}

#pontomaior{
  width: 18px;
  height: 18px;
  background-color:crimson;
}

.criandoSlider {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20px 20px 20px;
  justify-items: center;
  width: 300px !important;
  height: 90px !important;
}

.slider {
  display: grid;
  grid-template-columns: 17vw;
  grid-template-rows: 20px;
  width: 17vw;
}



.slider div {
  grid-area: 1/1;
  position: relative;
}


.Bolas {
/*   display: inline-block;
  position: absolute;
 */
  width: 20px;
  height: 20px;
  z-index: 3;

  background-color: rgb(83, 139, 69);
  border-radius: 50%;

  left: calc(100 * (1% - 0.2px));

}

.Caminho {
  /*   display: inline-block;
  position: absolute;
  */
  width: calc(17vw - 40px);
  height: 20px;
  z-index: 2;
  
  background-color: rgb(132, 136, 123);
  border-radius: 50%;


  place-self: center;
}

.Limites {
/*   display: inline-block;
  position: absolute;
 */
  width: 17vw;
  height: 20px;
  z-index: 1;
  
  background-color: black;
  border-radius: 50%;
}
